<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibetempt.candy.domain.mapper.AiCharacterMapper">
    
    <resultMap type="com.vibetempt.candy.domain.AiCharacter" id="AiCharacterResult">
        <id     property="characterId"      column="character_id"      />
        <result property="characterName"    column="character_name"    />
        <result property="description"      column="description"       />
        <result property="avatar"           column="avatar"            />
        <result property="personality"      column="personality"       />
        <result property="background"       column="background"        />
        <result property="status"           column="status"            />
        <result property="createBy"         column="create_by"         />
        <result property="createTime"       column="create_time"       />
        <result property="updateBy"         column="update_by"         />
        <result property="updateTime"       column="update_time"       />
        <result property="remark"           column="remark"            />
    </resultMap>
    
    <sql id="selectAiCharacterVo">
        select character_id, character_name, description, avatar, personality, background, status, create_by, create_time, update_by, update_time, remark 
        from candy_ai_character
    </sql>
    
    <select id="selectAiCharacterList" parameterType="com.vibetempt.candy.domain.AiCharacter" resultMap="AiCharacterResult">
        <include refid="selectAiCharacterVo"/>
        <where>  
            <if test="characterName != null and characterName != ''">
                AND character_name like concat('%', #{characterName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="personality != null and personality != ''">
                AND personality like concat('%', #{personality}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
    </select>
    
    <select id="selectAiCharacterById" parameterType="Long" resultMap="AiCharacterResult">
        <include refid="selectAiCharacterVo"/>
        where character_id = #{characterId}
    </select>
    
    <insert id="insertAiCharacter" parameterType="com.vibetempt.candy.domain.AiCharacter" useGeneratedKeys="true" keyProperty="characterId">
        insert into candy_ai_character(
            <if test="characterName != null and characterName != ''">character_name,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="avatar != null and avatar != ''">avatar,</if>
            <if test="personality != null and personality != ''">personality,</if>
            <if test="background != null and background != ''">background,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        ) values (
            <if test="characterName != null and characterName != ''">#{characterName},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="avatar != null and avatar != ''">#{avatar},</if>
            <if test="personality != null and personality != ''">#{personality},</if>
            <if test="background != null and background != ''">#{background},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        )
    </insert>
    
    <update id="updateAiCharacter" parameterType="com.vibetempt.candy.domain.AiCharacter">
        update candy_ai_character
        <set>
            <if test="characterName != null and characterName != ''">character_name = #{characterName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="personality != null">personality = #{personality},</if>
            <if test="background != null">background = #{background},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where character_id = #{characterId}
    </update>
    
    <delete id="deleteAiCharacterById" parameterType="Long">
        delete from candy_ai_character where character_id = #{characterId}
    </delete>
    
    <delete id="deleteAiCharacterByIds" parameterType="Long">
        delete from candy_ai_character where character_id in 
        <foreach item="characterId" collection="array" open="(" separator="," close=")">
            #{characterId}
        </foreach>
    </delete>
    
</mapper> 